# Project exclude paths
/out/
/src/by/tmstasks/input_and_output/palindromes/replacedText.txt
/src/by/tmstasks/input_and_output/text_formater/formatedText.txt
/src/by/tmstasks/input_and_output/text_formater/text.txt