# Project exclude paths
/out/
/src/by/TMSTasks/lesson9_InputAndOutput/Task1_Palindromes/replacedText.txt
/src/by/TMSTasks/lesson9_InputAndOutput/Task2_TextFormater/formatedText.txt
/src/by/TMSTasks/lesson9_InputAndOutput/Task2_TextFormater/text.txt